<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">课程名</label>
        <div class="layui-input-block">
            <input type="text" id="courseName" name="courseName" lay-verify="required" lay-reqtext="课程名不能为空" placeholder="请输入课程名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程头像</label>
        <div class="layui-input-block">
            <input type="file" id="img" name="img" lay-reqtext="课程头像" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程课时</label>
        <div class="layui-input-block">
            <input type="text" id="courseHour" name="courseHour" lay-verify="required" lay-reqtext="课程课时" placeholder="请输入课程课时" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程介绍</label>
        <div class="layui-input-block">
            <input type="text" id="describes" name="describes" lay-verify="required" lay-reqtext="课程介绍" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程价格</label>
        <div class="layui-input-block">
            <input type="text" id="price" name="price" lay-verify="required" lay-reqtext="课程价格" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上课开始时间</label>
        <div class="layui-input-block">
            <input type="date" id="startTime" name="startTime" lay-reqtext="上课开始时间" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上课结束时间</label>
        <div class="layui-input-block">
            <input type="date" id="endTime" name="endTime" lay-reqtext="上课结束时间" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">购买人数</label>
        <div class="layui-input-block">
            <input type="text" id="payNumber" name="payNumber" lay-verify="required" lay-reqtext="购买人数" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="shows">
                <option value="否">否</option>
                <option value="是">是</option>
            </select>
          </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">活动课程</label>
        <div class="layui-input-block">
            <select id="shakyStatus">
                <option value="否">否</option>
                <option value="是">是</option>
            </select>
         </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程状态</label>
        <div class="layui-input-block">
            <select id="courseState">
                <option value="下架">下架</option>
                <option value="上架">上架</option>
            </select>
          </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">校区名</label>
        <div class="layui-input-block">
            <select id="schoolName"></select>
          </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //校区资源
        var html = "";
        $.ajax({
            type:'post',
            url: '/school/list',
            dataType:'JSON',
            success: function (data) {
                var school = data.data;
                //加载数据
                for (var i = 0; i < school.length; i++) {
                    html += '<option value="' + school[i].schoolName + '">' + school[i].schoolName + '</option>'
                }
                $("#schoolName").html(html);
                form.render('select');
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
                var formData = new FormData();//form表单
                formData.append("courseName",data.field.courseName);
                formData.append("courseHour",data.field.courseHour);
                formData.append("describes",data.field.describes);
                formData.append("price",data.field.price);
            var tocourseBiginTime = new Date(data.field.startTime).getTime();
            formData.append("startTime",tocourseBiginTime);
            var tocourseFinishTime = new Date(data.field.endTime).getTime();
            formData.append("endTime",tocourseFinishTime);
                formData.append("payNumber",data.field.payNumber);
            if ($("#shows").val() == "否"){
                formData.append("shows","0");
            }else {
                formData.append("shows","1");
            }
            if ($("#shakyStatus").val() == "否"){
                formData.append("shakyStatus","0");
            }else {
                formData.append("shakyStatus","1");
            }
            if ($("#courseState").val() == "上架"){
                formData.append("courseState","0");
            }else {
                formData.append("courseState","1");
            }
            formData.append("schoolName",$("#schoolName").val());
                var fileobj = $("#img")[0].files[0];
                formData.append("img",fileobj);
                $.ajax({
                    url:"/openCourse/add",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("添加成功", {
                            title: '添加成功'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            parent.layui.table.reload("currentTableId");
                        });
                        }
                    }
                });
            return false;
        });

    });
</script>
</body>
</html>