<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">用户姓名</label>
        <div class="layui-input-block">
            <input type="text" name="userName" lay-verify="required" lay-reqtext="姓名不能为空" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">用户密码</label>
        <div class="layui-input-block">
            <input type="text" name="userPwd" lay-verify="required" lay-reqtext="密码不能为空" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">生日</label>
        <div class="layui-input-block">
            <input type="text" name="birthday" id="birthday" lay-verify="required" lay-reqtext="生日不能为空" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">头像</label>
        <div class="layui-input-block">
            <input type="file" name="userPhoto" id="userPhoto" lay-verify="required" lay-reqtext="请上传头像" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户积分</label>
        <div class="layui-input-block">
            <input type="text" name="welfare" value="0" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="userSex" value="男" title="男" checked="">
            <input type="radio" name="userSex" value="女" title="女">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="userPhone" class="layui-input" lay-verify="required|phone" lay-reqtext="手机号不能为空">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">类型</label>
        <div class="layui-input-block">
            <select name="userRole">
                <option value=""></option>
                <option value="0">家长</option>
                <option value="1">教练</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        laydate.render({
            elem: '#birthday'
        })

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var birthday = $("#birthday").val()
            var userPay = new Date(birthday).getTime()

            var formData = new FormData();
            formData.append("userName", data.field.userName);
            formData.append("birthday", userPay);
            formData.append("welfare",data.field.welfare);
            formData.append("userPwd", data.field.userPwd);
            formData.append("photo", $("#userPhoto")[0].files[0]);
            formData.append("userSex", data.field.userSex);
            formData.append("userPhone", data.field.userPhone);
            formData.append("userRole", data.field.userRole);
            $.ajax({
                type: 'post',
                url: 'add',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);
                    layui.table.reload()
                },
                error: function (data) {

                }
            })
            return false;
        });
    });
</script>
</body>
</html>