<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">关于我们</label>
        <div class="layui-input-block">
            <img style="width: 270px;height: 160px" id="img" src="">
            <input type="file" id="imgs" name="img" lay-reqtext="课程头像" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        var id ;
        $(function () {
            //从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
            var parent_json = eval('('+parent.json+')');
            $("img").attr("src",""+parent_json.about+"");
            id = parent_json.id;
        });

        form.on('submit(saveBtn)', function (data) {
            var formData = new FormData();//form表单
            formData.append("id",id);
            var fileobj = $("#imgs")[0].files[0];
            formData.append("img",fileobj);
                $.ajax({
                    url:"/photoInfo/update",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("修改成功", {
                                title: '修改成功'
                            }, function () {
                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.layui.table.reload("currentTableId");
                            });
                        }
                    }
                });
            });
            return false;
    });
</script>
</body>
</html>