<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">学员姓名</label>
        <div class="layui-input-block">
            <input type="text" id="studentName" name="studentName" placeholder="请输入学员姓名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属校区</label>
        <div class="layui-input-block">
            <select id="schoolNames" ></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">学员风采图片</label>
        <div class="layui-input-block">
            <input type="file" id="imgs" name="imgs" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">学员风采视频</label>
        <div class="layui-input-block">
            <input type="file" id="videoss" name="videoss" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="shows" >
                <option value="否">否</option>
                <option value="是">是</option>
            </select>
           </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //校区资源
        var html = "";
        $.ajax({
            type:'post',
            url: '/school/list',
            dataType:'JSON',
            success: function (data) {
                var school = data.data;
                //加载数据
                for (var i = 0; i < school.length; i++) {
                        html += '<option value="' + school[i].schoolName + '">' + school[i].schoolName + '</option>'
                }
                $("#schoolNames").html(html);
                form.render('select');
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var formData = new FormData();//form表单
            formData.append("studentName",$("#studentName").val());
            formData.append("schoolName",$("#schoolNames").val());
            var img = $("#imgs")[0].files[0];
            formData.append("img",img);
            var video = $("#videoss")[0].files[0];
            formData.append("videos",video);
            if ($("#shows").val() == "否"){
                formData.append("shows","0");
            }else {
                formData.append("shows","1");
            }
                $.ajax({
                    url:"/openstyle/add",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("添加成功", {
                            title: '添加成功'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            parent.layui.table.reload("currentTableId");
                        });
                        }
                    }
                });
            return false;
        });

    });
</script>
</body>
</html>