<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">学员姓名</label>
        <div class="layui-input-block">
            <input type="text" id="studentName" name="studentName" lay-reqtext="课程名不能为空" placeholder="请输入课程名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属校区</label>
        <div class="layui-input-block">
            <select id="schoolNames" ></select>
<!--            <input type="text" id="schoolName" name="schoolName" lay-reqtext="课程课时" placeholder="请输入课程课时" value="" class="layui-input">-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">学员风采图片</label>
        <div class="layui-input-block">
            <img id="img" src="">
<!--            <video width="320" height="240" controls loop src="/WeChat_20220831130256.mp4"></video>-->
            <input type="file" id="imgs" name="imgs" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">学员风采视频</label>
        <div class="layui-input-block">
            <video id="videos" width="320" height="240" controls loop src=""></video>
<!--            <input type="text" id="video" name="video" lay-reqtext="课程介绍" value="" class="layui-input">-->
            <input type="file" id="videoss" name="videoss" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="shows" ></select>
<!--            <input type="text" id="shows" name="shows" lay-reqtext="课程价格" value="" class="layui-input">-->
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        var id;
        $(function () {
            //从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
            var parent_json = eval('('+parent.json+')');
            $("img").attr("src",""+parent_json.picture+"");

            $("video").attr("src",""+parent_json.video+"");
            id = parent_json.id;
            var schoolName=parent_json.schoolName;
            var shows = parent_json.shows;
            if (shows == 0){
                $("#shows").html('<option value="否">否</option><option value="是">是</option>');
            }else {
                $("#shows").html('<option value="是">是</option><option value="否">否</option>');
            }
            //校区资源
            var html = "";
            html += '<option value="' + schoolName + '">' + schoolName + '</option>';
            $.ajax({
                type:'post',
                url: '/school/list',
                dataType:'JSON',
                success: function (data) {
                    var school = data.data;
                    //加载数据
                    for (var i = 0; i < school.length; i++) {
                        if (school[i].schoolName != schoolName) {
                            html += '<option value="' + school[i].schoolName + '">' + school[i].schoolName + '</option>'
                        }
                    }
                    $("#schoolNames").html(html);
                    form.render('select');
                }
            });
        });

        form.on('submit(saveBtn)', function (data) {
            var formData = new FormData();//form表单
            formData.append("id",id);
            formData.append("studentName",data.field.studentName);
            formData.append("schoolName",$("#schoolNames").val());
            var img = $("#imgs")[0].files[0];
            formData.append("img",img);
            var video = $("#videoss")[0].files[0];
            formData.append("videos",video);
            if ($("#shows").val() == "否"){
                formData.append("shows","0");
            }else {
                formData.append("shows","1");
            }
                $.ajax({
                    url:"/openstyle/update",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("修改成功", {
                                title: '修改成功'
                            }, function () {
                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.layui.table.reload("currentTableId");
                            });
                        }
                    }
                });
            });
            return false;
    });
</script>
</body>
</html>