<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">校区名称</label>
        <div class="layui-input-block">
            <input type="text" id="schoolName" name="schoolName" lay-reqtext="课程名不能为空" placeholder="请输入课程名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">描述</label>
        <div class="layui-input-block">
            <input type="text" id="describes" name="describes" lay-reqtext="课程课时" placeholder="请输入课程课时" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">校区照片</label>
        <div class="layui-input-block">
            <input type="file" id="img" name="img" lay-reqtext="校区照片" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">联系电话</label>
        <div class="layui-input-block">
            <input type="text" id="phone" name="phone" lay-reqtext="课程介绍"value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">地址</label>
        <div class="layui-input-block">
            <input type="text" id="address" name="address" lay-reqtext="课程价格" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="shows">
                <option value="否">否</option>
                <option value="是">是</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
                var formData = new FormData();//form表单
                formData.append("schoolName",data.field.schoolName);
                formData.append("describes",data.field.describes);
                formData.append("phone",data.field.phone);
                formData.append("address",data.field.address);
            if ($("#shows").val() == "否"){
                formData.append("shows","0");
            }else {
                formData.append("shows","1");
            }
                var fileobj = $("#img")[0].files[0];
                formData.append("img",fileobj);
                $.ajax({
                    url:"/openSchool/add",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("添加成功", {
                            title: '添加成功'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            parent.layui.table.reload("currentTableId");
                        });
                        }
                    }
                });
            return false;
        });

    });
</script>
</body>
</html>