<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">校区名称</label>
        <div class="layui-input-block">
            <input type="text" id="schoolName" name="schoolName" lay-verify="required" lay-reqtext="校区名称" placeholder="校区名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">描述</label>
        <div class="layui-input-block">
            <input type="text" id="describes" name="describes" lay-reqtext="描述" placeholder="请输入课程课时" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">校区照片</label>
        <div class="layui-input-block">
            <img style="width: 270px;height: 160px" id="img" src="">
            <input type="file" id="imgs" name="img" lay-reqtext="课程头像" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">联系电话</label>
        <div class="layui-input-block">
            <input type="text" id="phone" name="phone" lay-reqtext="联系电话" lay-verify="required|phone" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">地址</label>
        <div class="layui-input-block">
            <input type="text" id="address" name="address" lay-reqtext="地址" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="shows" ></select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        var id;
        $(function () {
            //从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
            var parent_json = eval('('+parent.json+')');
            $("img").attr("src",""+parent_json.schoolPhoto+"");
            id = parent_json.id;
            var shows = parent_json.shows;
            if (shows == 0){
                $("#shows").html('<option value="否">否</option><option value="是">是</option>');
            }else {
                $("#shows").html('<option value="是">是</option><option value="否">否</option>');
            }
            form.render('select');
        });

        form.on('submit(saveBtn)', function (data) {
            var formData = new FormData();//form表单
            formData.append("id",id);
            formData.append("schoolName",data.field.schoolName);

            formData.append("describes",data.field.describes);
            formData.append("phone",data.field.phone);

            formData.append("address",data.field.address);
            if ($("#shows").val() == "否"){
                formData.append("shows","0");
            }else {
                formData.append("shows","1");
            }
            var fileobj = $("#imgs")[0].files[0];
            formData.append("img",fileobj);
                $.ajax({
                    url:"/openSchool/update",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("修改成功", {
                                title: '修改成功'
                            }, function () {
                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.layui.table.reload("currentTableId");
                            });
                        }
                    }
                });
            });
            return false;
    });
</script>
</body>
</html>