<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">轮播图</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否展示</label>
        <div class="layui-input-block">
            <select id="isShaky">
                <option value="否">否</option>
                <option value="是">是</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">轮播顺序</label>
        <div class="layui-input-block">
            <input type="text" id="sequence" name="sequence" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    var code = "";
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/file/upload' //上传接口
            ,method:'post'
            ,data:{}
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                var files = obj.pushFile();
                obj.preview(function(index, file, result){
                    // console.log(index); //得到文件索引
                    // console.log(file); //得到文件对象
                    // console.log(result); //得到文件base64编码，比如图片
                    layer.load(); //上传loading
                });
            }
            ,done: function(res){
                //上传完毕回调
                layer.closeAll('loading'); //关闭loading
                alert("图片上传成功");
                code=res.data;
            }
            ,error: function(res){
                //请求异常回调
                layer.closeAll('loading'); //关闭loading
                console.log(res.data);
            }
        });
    });
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
                var formData = new FormData();//form表单
                formData.append("sequence",data.field.sequence);
                if ($("#isShaky").val() == "否"){
                    formData.append("shows","0");
                }else {
                    formData.append("shows","1");
                }
                // var fileobj = $("#imgs")[0].files[0];
                formData.append("schoolPhoto",code);
                $.ajax({
                    url:"/openRotation/add",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("添加成功", {
                            title: '添加成功'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            parent.layui.table.reload("currentTableId");
                        });
                        }
                    }
                });
            return false;
        });

    });
</script>
</body>
</html>