<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="product_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="openExcel"> 导出 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>&nbsp;&nbsp;
        </script>

        <style type="text/css">
            .layui-table-cell{
                text-align: center;
                height: auto;
                white-space: normal;
            }
            .layui-table img{
                max-width: 100px;
            }
        </style>

    </div>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    var uuid;
    var myjson ;
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/mien/list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 50,height: 50, title: 'ID'},
                {field: 'studentId', width: 50, title: '学员id'},
                {field: 'mienPhoto',width: 100, title: '风采照片',templet: '<div><img id="img" src="{{d.mienPhoto}}"></div>'},
                {field: 'mienVideo', width: 500, title: '风采视频',templet: '<div><video width="320" height="240" controls loop src="{{d.mienVideo}}"></video></div>'},
                {field: 'schoolName', width: 150, title: '校区名'},
                {field: 'isDelete', width: 100, title: '是否删除',templet: function (d) {
                        if (d.isDelete == "0") {
                            return "否";
                        } else {
                            return "是";
                        }
                    }},
                {field: 'createTime', width: 150, title: '创建时间',templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                {field: 'updateTime', width: 150, title: '修改时间',templet: "<div>{{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [ 5, 10, 15, 20, 25],
            limit: 5,
            page: true,
            skin: 'line'
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            // var result = JSON.stringify(data.field);
            // layer.alert(result, {
            //     title: '最终的搜索信息'
            // });
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    product_name:data.field.product_name,
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/mien/add.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var flag = 0;
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    flag++;
                    str += data[i].id+",";
                }
                $.ajax({
                    url:'/mien/deletemore',
                    type:'post',
                    data:{
                        str:str
                    },
                    success:function (data) {
                        if(data.data==flag){
                            var index = layer.alert("删除成功", {
                                title: '删除成功'
                            }, function () {
                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                layui.table.reload("currentTableId");
                            });
                        }
                    }
                });
            }else if(obj.event === 'openExcel'){//导出：使用poi技术导出excel
                var page=$(".layui-laypage-skip").find("input").val() //当前页码值
                var limit=$(".layui-laypage-limits").find("option:selected").val() //分页数目
                window.location.href="/ssmredisshiro/import.do?page="+page+"&limit="+limit;
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            myjson = data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/mien/edit.html',
                    success:function() {
                        var body = layer.getChildFrame('body',index);
                        body.find('#id').val(data.id);
                        body.find('#studentId').val(data.studentId);
                        body.find('#mienPhoto').val(data.mienPhoto);
                        body.find('#mienVideo').val(data.mienVideo);
                        body.find('#schoolName').val(data.schoolName);
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }else if(obj.event === 'fenpei'){
                uuid = data.uid;
                $.ajax({
                    url:'/ssmredisshiro/ufindRolesById.do',
                    type:'post',
                    data:{
                        uid:data.uid,
                    },
                    success:function (data) {
                    }
                });
                var index = layer.open({
                    title: '分配角色',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/usershowone.jsp',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }
            if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url:'/mien/delete',
                        type:'post',
                        data:{
                            id:data.id
                        },
                        success:function (data) {
                            if(data.data==1){
                                var index = layer.alert("删除成功", {
                                    title: '删除成功'
                                }, function () {
                                    //关闭弹出层
                                    layer.close(index);
                                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(iframeIndex);
                                    layui.table.reload("currentTableId");
                                });
                            }
                        }
                    });
                });
            }
        });
    });
</script>

</body>
</html>