<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">课程名</label>
        <div class="layui-input-block">
            <input type="text" id="courseName" name="courseName" lay-verify="required" lay-reqtext="课程名不能为空" placeholder="请输入课程名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程课时</label>
        <div class="layui-input-block">
            <input type="text" id="courseTime" name="courseTime" lay-verify="required" lay-reqtext="课程课时" placeholder="请输入课程课时" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程头像</label>
        <div class="layui-input-block">
            <img style="width: 270px;height: 160px" id="img" src="">
            <input type="file" id="imgs" name="img" lay-reqtext="课程头像" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程介绍</label>
        <div class="layui-input-block">
            <input type="text" id="courseIntroduce" name="courseIntroduce" lay-verify="required" lay-reqtext="课程介绍" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程价格</label>
        <div class="layui-input-block">
            <input type="text" id="coursePrice" name="coursePrice" lay-verify="required" lay-reqtext="课程价格" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上课开始时间</label>
        <div class="layui-input-block">
            <input type="date" id="tocourseBiginTime" name="tocourseBiginTime" lay-verify="required" lay-reqtext="上课开始时间" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上课结束时间</label>
        <div class="layui-input-block">
            <input type="date" id="tocourseFinishTime" name="tocourseFinishTime" lay-verify="required" lay-reqtext="上课结束时间" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">购买人数</label>
        <div class="layui-input-block">
            <input type="text" id="enrollTotal" name="enrollTotal" lay-reqtext="购买人数" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">活动课程</label>
        <div class="layui-input-block">
            <select id="isShaky" ></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">课程状态</label>
        <div class="layui-input-block">
            <select id="courseState" ></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">校区名</label>
        <div class="layui-input-block">
            <select id="schoolNames" ></select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        var id = null;
        $(function () {
            //从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
            var parent_json = eval('('+parent.json+')');
            $("img").attr("src",""+parent_json.photo+"");
            id = parent_json.id;
            var schoolName = parent_json.schoolName;
            var isShaky = parent_json.isShaky;
            if (isShaky == 0){
                $("#isShaky").html('<option value="否">否</option><option value="是">是</option>');
            }else {
                $("#isShaky").html('<option value="是">是</option><option value="否">否</option>');
            }
            var courseState = parent_json.courseState;
            if (courseState == 0){
                $("#courseState").html('<option value="上架">上架</option><option value="下架">下架</option>');
            }else {
                $("#courseState").html('<option value="下架">下架</option><option value="上架">上架</option>');
            }
            //校区资源
            var html = "";
            html += '<option value="' + schoolName + '">' + schoolName + '</option>';
            $.ajax({
                type:'post',
                url: '/school/list',
                dataType:'JSON',
                success: function (data) {
                    var school = data.data;
                    //加载数据
                    for (var i = 0; i < school.length; i++) {
                        if (school[i].schoolName != schoolName) {
                            html += '<option value="' + school[i].schoolName + '">' + school[i].schoolName + '</option>'
                        }
                    }
                    $("#schoolNames").html(html);
                    form.render('select');
                }
            });
        });

        form.on('submit(saveBtn)', function (data) {
            var formData = new FormData();//form表单
            formData.append("id",id);
            formData.append("courseName",data.field.courseName);
            formData.append("courseTime",data.field.courseTime);
            formData.append("courseIntroduce",data.field.courseIntroduce);
            formData.append("coursePrice",data.field.coursePrice);
            var tocourseBiginTime = new Date(data.field.tocourseBiginTime).getTime();
            formData.append("tocourseBiginTime",tocourseBiginTime);
            var tocourseFinishTime = new Date(data.field.tocourseFinishTime).getTime();
            if (tocourseFinishTime > tocourseBiginTime){
                formData.append("tocourseFinishTime",tocourseFinishTime);
                formData.append("enrollTotal",data.field.enrollTotal);
                if ($("#isShaky").val() == "否"){
                    formData.append("isShaky","0");
                }else {
                    formData.append("isShaky","1");
                }
                if ($("#courseState").val() == "上架"){
                    formData.append("courseState","0");
                }else {
                    formData.append("courseState","1");
                }
                formData.append("schoolName",$("#schoolNames").val());
                var fileobj = $("#imgs")[0].files[0];
                formData.append("img",fileobj);
                $.ajax({
                    url:"/course/update",
                    type:"post",
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if (data.data==1){
                            var index = layer.alert("修改成功", {
                                title: '修改成功'
                            }, function () {
                                // 关闭弹出层
                                layer.close(index);
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.layui.table.reload("currentTableId");
                            });
                        }
                    }
                });
            }else {
                alert("不能在开始时间之前");
            }
            });
            return false;
    });
</script>
</body>
</html>