<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.CourseInfoMapper">

    <!-- 列表 -->
    <select id="findAll" parameterType="com.jckj.model.CourseInfo" resultType="com.jckj.model.CourseInfo">
        select
        id,
        course_name courseName,
        course_time courseTime,
        photo,
        course_introduce courseIntroduce,
        course_price coursePrice,
        tocourse_bigin_time tocourseBiginTime,
        tocourse_finish_time tocourseFinishTime,
        enroll_total enrollTotal,
        is_shaky isShaky,
        course_state courseState,
        school_name schoolName
        from t_course_info
        where is_delete=0
        <if test="courseName != null">and course_name like '%${courseName}%'</if>
        limit #{dataNum},#{limit}
    </select>
    <select id="findById" resultType="com.jckj.model.CourseInfo">
    	select
    	id,
        course_name courseName,
        course_time courseTime,
        photo,
        course_introduce courseIntroduce,
        course_price coursePrice,
        tocourse_bigin_time tocourseBiginTime,
        tocourse_finish_time tocourseFinishTime,
        enroll_total enrollTotal,
        is_shaky isShaky,
        course_state courseState,
        school_name schoolName
    	from t_course_info
        where is_delete=0
        and id=#{id}
    </select>
    <select id="count" parameterType="com.jckj.model.CourseInfo" resultType="java.lang.Integer">
        select count(1) from t_course_info where is_delete=0 <if test="courseName != null">and course_name like '%${courseName}%'</if>
    </select>

    <!-- 新增 -->
    <insert id="add" parameterType="com.jckj.model.CourseInfo">
        insert into t_course_info
        (course_name,course_time,photo,course_introduce,course_price,tocourse_bigin_time,tocourse_finish_time,enroll_total,is_shaky,school_name,create_time,update_time)
        values
        (#{courseName},#{courseTime},#{photo},#{courseIntroduce},#{coursePrice},#{tocourseBiginTime},#{tocourseFinishTime},#{enrollTotal},#{isShaky},#{schoolName},#{createTime},#{updateTime})

    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.jckj.model.CourseInfo">
        update t_course_info set
        <if test="courseName != null">course_name=#{courseName},</if>
        <if test="courseTime != null">course_time=#{courseTime},</if>
        <if test="photo != null">photo=#{photo},</if>
        <if test="courseIntroduce != null">course_introduce=#{courseIntroduce},</if>
        <if test="coursePrice != null">course_price=#{coursePrice},</if>
        <if test="tocourseBiginTime != null">tocourse_bigin_time=#{tocourseBiginTime},</if>
        <if test="tocourseFinishTime != null">tocourse_finish_time=#{tocourseFinishTime},</if>
        <if test="enrollTotal != null">enroll_total=#{enrollTotal},</if>
        <if test="isShaky != null">is_shaky=#{isShaky},</if>
        <if test="courseState != null">course_state=#{courseState},</if>
        <if test="schoolName != null">school_name=#{schoolName},</if>
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <!-- 删除 -->
    <update id="delete" parameterType="com.jckj.model.CourseInfo">
		update t_course_info set is_delete=1,
		update_time=#{updateTime}
		where id=#{id}
	</update>
</mapper>