<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.DemoMapper">
		
	<!-- 列表 -->
	<select id="list" parameterType="com.jckj.dto.PageDto" resultType="com.jckj.model.Demo">
		select 
		id,name,create_time,update_time 
		from t_demo
		where is_delete=0
		<if test="name !=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
		order by id desc
		limit #{dataNum},#{pageRow}
	</select>
	
	<!-- 总数 -->
	<select id="count" parameterType="com.jckj.dto.PageDto" resultType="java.lang.Integer">
		select 
		count(1)
		from t_demo
		where is_delete=0
		<if test="name !=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
	</select>	
	
	<!-- 详情 -->
	<select id="info" resultType="com.jckj.model.Demo">
		select 
		id,name,create_time,update_time 
		from t_demo
		where id=#{id}
	</select>
	
	<!-- 新增 -->
	<insert id="add" parameterType="com.jckj.model.Demo" useGeneratedKeys="true" keyProperty="id">
		insert into t_demo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name !=null">name,</if>
			<if test="createTime !=null">create_time,</if>
			<if test="updateTime !=null">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name !=null">#{name},</if>
			<if test="createTime !=null">#{createTime},</if>
			<if test="updateTime !=null">#{updateTime},</if>
		</trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.jckj.model.Demo">
		update t_demo 
		<trim prefix="set " suffixOverrides=",">
			<if test="name !=null">name=#{name},</if>
			<if test="createTime !=null">create_time=#{createTime},</if>
			<if test="updateTime !=null">update_time=#{updateTime},</if>
		</trim>
		where id=#{id}
	</update>
	
	<!-- 删除 -->
	<update id="remove">
		update t_demo set is_delete=1
		where id=#{id}
	</update>
</mapper>