<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.PhotoInfoMapper">
    <select id="findAll" resultType="com.jckj.model.PhotoInfo">
        select id, about from t_photo_info where is_delete=0
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from t_photo_info where is_delete=0
    </select>
    <update id="update" parameterType="com.jckj.model.PhotoInfo">
        update t_photo_info set
        about=#{about},
        update_time=#{updateTime}
        where id=#{id}
    </update>
</mapper>