<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.SchoolMapper">
    <select id="list" parameterType="com.jckj.model.School" resultType="com.jckj.model.School">
        select id,school_name schoolName,school_address schoolAddress,school_introduce schoolIntroduce,school_phone schoolPhone,school_photo schoolPhoto,is_delete isDelete,create_time createTime,update_time updateTime from t_school_info
        where is_delete=0
        limit #{dataNum},#{limit}
    </select>
    <select id="count" parameterType="com.jckj.model.School" resultType="java.lang.Integer">
        select
        count(1)
        from t_school_info
        where is_delete = 0
    </select>
    <insert id="insert" parameterType="com.jckj.model.School">
        insert into
            t_school_info
            (school_name,school_address,school_introduce,school_phone,school_photo,create_time,update_time)
            values
            (#{schoolName},#{schoolAddress},#{schoolIntroduce},#{schoolPhone},#{schoolPhoto},#{createTime},#{updateTime})
    </insert>
    <update id="update" parameterType="com.jckj.model.School">
        update t_school_info set
            school_name=#{schoolName},school_address=#{schoolAddress},school_introduce=#{schoolIntroduce},school_phone=#{schoolPhone},update_time=#{updateTime}
            where id=#{id}
    </update>
    <update id="delete" parameterType="com.jckj.model.School">
        update t_school_info set
            is_delete = 1 ,update_time=#{updateTime}
            where id=#{id}
    </update>
</mapper>