<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.StudentMapper">

    <select id="list" parameterType="com.jckj.model.TStudentInfo" resultType="com.jckj.model.TStudentInfo">
        select id,
        student_id as studentId,
        student_name as studentName,
        student_pay as studentPay,
        student_enroll as studentEnroll,
        student_photo as studentPhoto,
        gender,
        class_name as className,
        student_status as studentStatus,
        is_delete as isDelete,
        create_time as createTime,
        update_time as updateTime
        from t_student_info
        <trim prefix="where" suffixOverrides="and">
            is_delete = 0
            <if test="studentName != null and studentName != ''">
                and student_name like concat('%',#{studentName},'%')
            </if>
            <if test="studentEnroll != null and studentEnroll != ''">
                and student_enroll like concat('%',#{studentEnroll},'%')
            </if>
            <if test="className != null and className != ''">
                and class_name like concat('%',#{className},'%')
            </if>
            <if test="studentStatus != null">
                and student_status = #{studentStatus}
            </if>
        </trim>
        order by id desc limit #{dataNum}, #{limit};
    </select>

    <select id="count" parameterType="com.jckj.model.TStudentInfo" resultType="int">
        select count(1)
        from t_student_info
        where is_delete = 0;
    </select>

    <select id="info" parameterType="int" resultType="com.jckj.model.TStudentInfo">
        select id,
               student_id     as studentId,
               student_name   as studentName,
               student_pay    as studentPay,
               student_enroll as studentEnroll,
               student_photo  as studentPhoto,
               gender,
               class_name     as className,
               student_status as studentStatus,
               is_delete      as isDelete,
               create_time    as createTime,
               update_time    as updateTime
        from t_student_info
        where id = #{id};
    </select>

    <insert id="add" parameterType="com.jckj.model.TStudentInfo">
        insert into t_student_info (student_id, student_name, student_pay, student_enroll, student_photo, gender,
                                    class_name, student_status, create_time, update_time)
        values (#{studentId}, #{studentName}, #{studentPay}, #{studentEnroll}, #{studentPhoto}, #{gender}, #{className},
                #{studentStatus}, #{createTime}, #{updateTime});
    </insert>

    <update id="remove">
        update t_student_info
        set is_delete = 1
        where id = #{id}
    </update>

    <update id="update" parameterType="com.jckj.model.TStudentInfo">
        update t_student_info
        set student_name   = #{studentName},
            student_pay    = #{studentPay},
            student_enroll = #{studentEnroll},
            class_name     = #{className},
            student_status = #{studentStatus},
            update_time    = #{updateTime}
        where id = #{id};
    </update>

</mapper>