<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jckj.mapper.StudentMapper">

    <select id="list" parameterType="com.jckj.model.TStudentInfo" resultType="com.jckj.model.TStudentInfo">
        select id,
               student_id     as studentId,
               student_name   as studentName,
               student_pay    as studentPay,
               student_enroll as studentEnroll,
               student_photo  as studentPhoto,
               gender,
               class_name     as className,
               student_status as studentStatus,
               is_delete      as isDelete,
               create_time    as createTime,
               update_time    as updateTime
        from t_student_info
        where is_delete = 0
        order by id desc limit #{dataNum}, #{limit};
    </select>

    <select id="count" parameterType="com.jckj.model.TStudentInfo" resultType="int">
        select count(1)
        from t_student_info
        where is_delete = 0;
    </select>

    <select id="info" parameterType="int" resultType="com.jckj.model.TStudentInfo">
        select id,
               student_id     as studentId,
               student_name   as studentName,
               student_pay    as studentPay,
               student_enroll as studentEnroll,
               student_photo  as studentPhoto,
               gender,
               class_name     as className,
               student_status as studentStatus,
               is_delete      as isDelete,
               create_time    as createTime,
               update_time    as updateTime
        from t_student_info
        where id = #{id};
    </select>

</mapper>