<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxGradeMapper">
    <select id="list" parameterType="com.jckj.model.Grade" resultType="com.jckj.model.Grade">
        select
           grade_name gradeName,
           grade_time gradeTime,
           coach_name coachName
        from t_grade_info
        where is_delete=0
        and school_name = #{schoolName}
    </select>
    <insert id="insert" parameterType="com.jckj.model.Grade">
        insert into
            t_grade_info
        (grade_name,grade_time,coach_name,grade_photo,grade_describe,grade_status,school_name,create_time,update_time)
        values
        (#{gradeName},#{gradeTime},#{coachName},#{gradePhoto},#{gradeDescribe},#{gradeStatus},#{schoolName},#{createTime},#{updateTime})
    </insert>
</mapper>